.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-container .update-profile-password-container,
.profile-container .update-profile-info-container {
    margin: 15px 0;
    width: 80%;
    background-color: var(--bs-white);
    padding: 20px 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.profile-container .update-profile-password-container h3,
.profile-container .update-profile-info-container h3 {
    padding-bottom: 15px;
}

#updateProfilePasswordForm div,
#updateProfileInfoForm div {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

/* Save Button Style */
.save-button {
    font-family: var(--font-main);
    font-size: 16px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 10px 25px;
    margin-top: 15px;
    color: var(--bs-white);
    background-color: var(--bg-green);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: var(--bs-success);
    transition: background-color 0.3s ease-in-out;
}

.btn-loader {
    display: none;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

.save-button.loader .btn-loader {
    display: inline-block;
}

.save-button.loader .btn-text {
    pointer-events: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
/* End Save Button Style */

.result-submit {
    font-size: 14px;
    padding-left: 10px;
}

.result-submit.success {
    color: var(--bs-green);
}

.result-submit.error {
    color: #ea868f;
}

@media (max-width: 425px) {
    .profile-container .update-profile-password-container,
    .profile-container .update-profile-info-container {
        width: 95%;
        padding: 10px;
    }
}
