/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Убираем стандартные стили у списков */
ul, ol {
    list-style: none;
}

/* Убираем подчеркивание у ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Базовые переменные */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #f9322c;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bg-green: #06b66b;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --font-main: 'Figtree', Arial, sans-serif;
}

/* Базовые стили */
body {
    font-family: var(--font-main);
    background-color: var(--bs-gray-100);
    color: var(--bs-black);
    line-height: 1.6;
    height: 100%;
    overflow: hidden;
}

/* Sidebar */
.admin-panel-container .sidebar-container {
    width: 220px;
    color: var(--bs-white);
    background-color: var(--bs-dark);
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top:0;
    /*box-shadow: 0 50px 2px rgba(0, 0, 0, 1), 0 50px 4px 0 rgba(0, 0, 0, 0.6);*/
}

.admin-panel-container .sidebar-container .logo-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.admin-panel-container .sidebar-container .logo-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 30px;
}

.admin-panel-container .sidebar-container .navigation-container .menu-item {
    margin: 5px 10px;
}

.admin-panel-container .sidebar-container .navigation-container .menu-item .menu-link {
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.admin-panel-container .sidebar-container .navigation-container .menu-item .menu-link {
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.admin-panel-container .sidebar-container .navigation-container .menu-item.active {
    background-color: var(--bg-green);
    border-radius: 8px;
}

.admin-panel-container .sidebar-container .navigation-container .menu-item:hover {
    background-color: var(--bg-green);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.admin-panel-container .sidebar-container .navigation-container .menu-item .menu-link i {
    font-size: 20px;
    margin-right: 8px;
}

.admin-panel-container .sidebar-container .navigation-container .menu-item .menu-link p {
    font-size: 15px;
}

.admin-panel-container .sidebar-container .logout-container {
    display: flex;
    margin: 10px;
}

.admin-panel-container .sidebar-container .logout-container button {
    width: 200px;
    padding: 7px 0;
    border-radius: 8px;
    color: var(--bs-white);
    border: none;
    background-color: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.admin-panel-container .sidebar-container .logout-container button:hover {
    background-color: var(--bs-red);
    transition: background-color 0.3s ease-in-out;
}

.admin-panel-container .sidebar-container .logout-container button i {
    font-size: 20px;
    margin-right: 8px;
}

.admin-panel-container .sidebar-container .logout-container button p {
    font-size: 15px;
}

@media (max-width: 768px) {
    .admin-panel-container .sidebar-container {
        width: 50px;
    }

    .admin-panel-container .sidebar-container .logo-container {
        justify-content: center;
    }

    .admin-panel-container .sidebar-container .logo-container img {
        margin: 0;
    }

    .admin-panel-container .sidebar-container .logo-container h3 {
        display: none;
    }

    .admin-panel-container .sidebar-container .navigation-container .menu-item {
        margin: 5px;
    }

    .admin-panel-container .sidebar-container .navigation-container .menu-item .menu-link {
        padding: 10px 10px;
        justify-content: center;
    }

    .admin-panel-container .sidebar-container .navigation-container .menu-item .menu-link i {
        margin: 0;
        font-size: 22px;
    }

    .admin-panel-container .sidebar-container .navigation-container .menu-item .menu-link p {
        display: none;
    }

    .admin-panel-container .sidebar-container .navigation-container .menu-item .menu-link p {
        display: none;
    }

    .admin-panel-container .sidebar-container .logout-container {
        display: flex;
        margin: 10px 5px;
    }

    .admin-panel-container .sidebar-container .logout-container button {
        width: 40px;
        padding: 10px 0;
    }

    .admin-panel-container .sidebar-container .logout-container button i {
        font-size: 22px;
        margin: 0;
    }

    .admin-panel-container .sidebar-container .logout-container button p {
        display: none;
    }
}
/* End Sidebar */

/* Header Container */
.admin-panel-container .header-container {
    position: fixed;
    top: 0;
    left: 220px;
    width: calc(100% - 220px);
    height: 50px;
    background-color: var(--bs-dark);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 10px;
}

@media (max-width: 768px) {
    .admin-panel-container .header-container {
        width: calc(100% - 50px);
        left: 50px;
    }
}
/* End Header Container */

/* Main Container */
.admin-panel-container .main-container {
    flex: 1;
    width: calc(100% - 220px);
    height: calc(100vh - 50px);
    margin-left: 220px;
    margin-top: 50px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media (max-width: 768px) {
    .admin-panel-container .main-container {
        width: calc(100% - 50px);
        margin-left: 50px;
    }
}
/* End Main Container */

/* Базовые стили для input и select */
input,
select {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input {
    padding: 6px 12px;
}

select {
    padding: 8.5px 12px;
}

/* Подсветка при фокусе */
input:focus,
select:focus {
    border-color: var(--bs-gray-500);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--bs-gray-400);
}

/* Ошибка: красная рамка + красная подсветка */
input.error,
select.error {
    border-color: #ea868f;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

input.error:focus,
select.error:focus {
    border-color: #ea868f;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.invalid-feedback {
    color: #ea868f;
    font-size: 14px;
}

